ShortCommandsExe/json/** linguist-vendored
ShortCommandsExe/SDL2-2.0.10/** linguist-vendored
ShortCommandsExe/SDL2_image-2.0.5/** linguist-vendored
ShortCommandsExe/SDL2_ttf-2.0.15/** linguist-vendored